<h2 class="text-center text-2xl font-bold text-amber-800">{{song.title}}</h2>
<div class="flex flex-row">
    <div class="basis-1/4">
        <h3 class="text-center text-base font-semibold text-amber-500">Song Analysis</h3>
        <ul>
            <li class="text-center text-sm font-light text-sky-400">Track Length: {{song.length}}</li>
            <li class="text-center text-sm font-light text-sky-400">Tempo: {{song.tempo}}</li>
            <li class="text-center text-sm font-light text-sky-400">Danceability: {{song.danceability}}</li>
            <li class="text-center text-sm font-light text-sky-400">Valence: {{song.valence}}</li>
            <li class="text-center text-sm font-light text-sky-400">Speech/Vocality: {{song.speechiness}}</li>
            <li class="text-center text-sm font-light text-sky-400">Lyrical Analysis: {{analysis}} {{!-- unsure
                where/what we would put here --}}</li>
        </ul>
    </div>
    <div class="basis-3/4">
        <h3 class="text-center text-base font-semibold text-amber-500">Lyrical Analysis</h3>
        {{!--insert the chart here--}}
    </div>
</div>

<script src="../public/js/css/input.css"></script>